/src
/privado
venv*
docs/APP_T1/shinylive/browser-OYYBATHK.js
docs/APP_T1/shinylive/browser-YJT5PK6V.js
docs/APP_T1/shinylive/chunk-O5P2LFOG.js
docs/APP_T1/shinylive/chunk-PHWSSKUM.js
docs/APP_T1/shinylive/Editor.css
docs/APP_T1/shinylive/Editor.js
docs/APP_T1/shinylive/load-shinylive-sw.js
docs/APP_T1/shinylive/lzstring-worker.js
docs/APP_T1/shinylive/pyodide-worker.js
docs/APP_T1/shinylive/run-python-blocks.js
docs/APP_T1/shinylive/shinylive.css
docs/APP_T1/shinylive/shinylive.js
docs/APP_T1/shinylive/SourceSansPro-Regular.otf-PVQ5ZP77.woff2
docs/APP_T1/shinylive/style-resets.css
docs/APP_T1/shinylive/webr/esbuild.d.ts
docs/APP_T1/shinylive/webr/library.data.gz
docs/APP_T1/shinylive/webr/library.js.metadata
docs/APP_T1/shinylive/webr/libRblas.so
docs/APP_T1/shinylive/webr/libRlapack.so
docs/APP_T1/shinylive/webr/R.bin.js
docs/APP_T1/shinylive/webr/R.bin.js.bak
docs/APP_T1/shinylive/webr/R.bin.wasm
docs/APP_T1/shinylive/webr/webr-serviceworker.js
docs/APP_T1/shinylive/webr/webr-serviceworker.js.map
docs/APP_T1/shinylive/webr/webr-serviceworker.mjs
docs/APP_T1/shinylive/webr/webr-serviceworker.mjs.map
docs/APP_T1/shinylive/webr/webr-worker.js
docs/APP_T1/shinylive/webr/webr-worker.js.map
docs/APP_T1/shinylive/webr/webr.cjs
docs/APP_T1/shinylive/webr/webr.cjs.map
docs/APP_T1/shinylive/webr/webr.mjs
docs/APP_T1/shinylive/webr/webr.mjs.map
docs/APP_T1/shinylive/webr/packages/metadata.rds
docs/APP_T1/shinylive/webr/packages/DT/DT_0.33.tgz
docs/APP_T1/shinylive/webr/packages/MASS/MASS_7.3-61.tgz
docs/APP_T1/shinylive/webr/packages/Matrix/Matrix_1.7-0.tgz
docs/APP_T1/shinylive/webr/packages/RColorBrewer/RColorBrewer_1.1-3.tgz
docs/APP_T1/shinylive/webr/packages/colorspace/colorspace_2.1-1.tgz
docs/APP_T1/shinylive/webr/packages/crosstalk/crosstalk_1.2.1.tgz
docs/APP_T1/shinylive/webr/packages/evaluate/evaluate_1.0.1.tgz
docs/APP_T1/shinylive/webr/packages/fansi/fansi_1.0.6.tgz
docs/APP_T1/shinylive/webr/packages/farver/farver_2.1.2.tgz
docs/APP_T1/shinylive/webr/packages/ggplot2/ggplot2_3.5.1.tgz
docs/APP_T1/shinylive/webr/packages/gtable/gtable_0.3.5.tgz
docs/APP_T1/shinylive/webr/packages/highr/highr_0.11.tgz
docs/APP_T1/shinylive/webr/packages/htmlwidgets/htmlwidgets_1.6.4.tgz
docs/APP_T1/shinylive/webr/packages/isoband/isoband_0.2.7.tgz
docs/APP_T1/shinylive/webr/packages/knitr/knitr_1.48.tgz
docs/APP_T1/shinylive/webr/packages/labeling/labeling_0.4.3.tgz
docs/APP_T1/shinylive/webr/packages/lattice/lattice_0.22-6.tgz
docs/APP_T1/shinylive/webr/packages/lazyeval/lazyeval_0.2.2.tgz
docs/APP_T1/shinylive/webr/packages/mgcv/mgcv_1.9-1.tgz
docs/APP_T1/shinylive/webr/packages/munsell/munsell_0.5.1.tgz
docs/APP_T1/shinylive/webr/packages/nlme/nlme_3.1-166.tgz
docs/APP_T1/shinylive/webr/packages/pillar/pillar_1.9.0.tgz
docs/APP_T1/shinylive/webr/packages/pkgconfig/pkgconfig_2.0.3.tgz
docs/APP_T1/shinylive/webr/packages/rmarkdown/rmarkdown_2.28.tgz
docs/APP_T1/shinylive/webr/packages/scales/scales_1.3.0.tgz
docs/APP_T1/shinylive/webr/packages/tibble/tibble_3.2.1.tgz
docs/APP_T1/shinylive/webr/packages/tinytex/tinytex_0.53.tgz
docs/APP_T1/shinylive/webr/packages/utf8/utf8_1.2.4.tgz
docs/APP_T1/shinylive/webr/packages/vctrs/vctrs_0.6.5.tgz
docs/APP_T1/shinylive/webr/packages/viridisLite/viridisLite_0.4.2.tgz
docs/APP_T1/shinylive/webr/packages/xfun/xfun_0.48.tgz
docs/APP_T1/shinylive/webr/packages/yaml/yaml_2.3.10.tgz
docs/APP_T1/shinylive/webr/repl/App.d.ts
docs/APP_T1/shinylive/webr/repl/components/Editor.d.ts
docs/APP_T1/shinylive/webr/repl/components/Files.d.ts
docs/APP_T1/shinylive/webr/repl/components/Plot.d.ts
docs/APP_T1/shinylive/webr/repl/components/Terminal.d.ts
docs/APP_T1/shinylive/webr/repl/components/utils.d.ts
docs/APP_T1/shinylive/webr/tests/packages/webr.test.d.ts
docs/APP_T1/shinylive/webr/tests/webR/console.test.d.ts
docs/APP_T1/shinylive/webr/tests/webR/error.test.d.ts
docs/APP_T1/shinylive/webr/tests/webR/mount.test.d.ts
docs/APP_T1/shinylive/webr/tests/webR/proxy.test.d.ts
docs/APP_T1/shinylive/webr/tests/webR/robj.test.d.ts
docs/APP_T1/shinylive/webr/tests/webR/utils.test.d.ts
docs/APP_T1/shinylive/webr/tests/webR/webr-main.test.d.ts
docs/APP_T1/shinylive/webr/tests/webR/webr-r.test.d.ts
docs/APP_T1/shinylive/webr/tests/webR/webr-worker.test.d.ts
docs/APP_T1/shinylive/webr/tests/webR/chan/channel-postmessage.test.d.ts
docs/APP_T1/shinylive/webr/vfs/etc/fonts/fonts.conf
docs/APP_T1/shinylive/webr/vfs/usr/lib/R/doc.data.gz
docs/APP_T1/shinylive/webr/vfs/usr/lib/R/doc.js.metadata
docs/APP_T1/shinylive/webr/vfs/usr/lib/R/share.data.gz
docs/APP_T1/shinylive/webr/vfs/usr/lib/R/share.js.metadata
docs/APP_T1/shinylive/webr/vfs/usr/lib/R/tests.data.gz
docs/APP_T1/shinylive/webr/vfs/usr/lib/R/tests.js.metadata
docs/APP_T1/shinylive/webr/vfs/usr/lib/R/library/parallel.data.gz
docs/APP_T1/shinylive/webr/vfs/usr/lib/R/library/parallel.js.metadata
docs/APP_T1/shinylive/webr/vfs/usr/lib/R/library/tcltk.data.gz
docs/APP_T1/shinylive/webr/vfs/usr/lib/R/library/tcltk.js.metadata
docs/APP_T1/shinylive/webr/vfs/usr/lib/R/library/translations.data.gz
docs/APP_T1/shinylive/webr/vfs/usr/lib/R/library/translations.js.metadata
docs/APP_T1/shinylive/webr/vfs/usr/lib/R/library/base/demo.data.gz
docs/APP_T1/shinylive/webr/vfs/usr/lib/R/library/base/demo.js.metadata
docs/APP_T1/shinylive/webr/vfs/usr/lib/R/library/base/help.data.gz
docs/APP_T1/shinylive/webr/vfs/usr/lib/R/library/base/help.js.metadata
docs/APP_T1/shinylive/webr/vfs/usr/lib/R/library/base/html.data.gz
docs/APP_T1/shinylive/webr/vfs/usr/lib/R/library/base/html.js.metadata
docs/APP_T1/shinylive/webr/vfs/usr/lib/R/library/compiler/help.data.gz
docs/APP_T1/shinylive/webr/vfs/usr/lib/R/library/compiler/help.js.metadata
docs/APP_T1/shinylive/webr/vfs/usr/lib/R/library/compiler/html.data.gz
docs/APP_T1/shinylive/webr/vfs/usr/lib/R/library/compiler/html.js.metadata
docs/APP_T1/shinylive/webr/vfs/usr/lib/R/library/compiler/tests.data.gz
docs/APP_T1/shinylive/webr/vfs/usr/lib/R/library/compiler/tests.js.metadata
docs/APP_T1/shinylive/webr/vfs/usr/lib/R/library/datasets/help.data.gz
docs/APP_T1/shinylive/webr/vfs/usr/lib/R/library/datasets/help.js.metadata
docs/APP_T1/shinylive/webr/vfs/usr/lib/R/library/datasets/html.data.gz
docs/APP_T1/shinylive/webr/vfs/usr/lib/R/library/datasets/html.js.metadata
docs/APP_T1/shinylive/webr/vfs/usr/lib/R/library/grDevices/afm.data.gz
docs/APP_T1/shinylive/webr/vfs/usr/lib/R/library/grDevices/afm.js.metadata
docs/APP_T1/shinylive/webr/vfs/usr/lib/R/library/grDevices/demo.data.gz
docs/APP_T1/shinylive/webr/vfs/usr/lib/R/library/grDevices/demo.js.metadata
docs/APP_T1/shinylive/webr/vfs/usr/lib/R/library/grDevices/enc.data.gz
docs/APP_T1/shinylive/webr/vfs/usr/lib/R/library/grDevices/enc.js.metadata
docs/APP_T1/shinylive/webr/vfs/usr/lib/R/library/grDevices/fonts.data.gz
docs/APP_T1/shinylive/webr/vfs/usr/lib/R/library/grDevices/fonts.js.metadata
docs/APP_T1/shinylive/webr/vfs/usr/lib/R/library/grDevices/help.data.gz
docs/APP_T1/shinylive/webr/vfs/usr/lib/R/library/grDevices/help.js.metadata
docs/APP_T1/shinylive/webr/vfs/usr/lib/R/library/grDevices/html.data.gz
docs/APP_T1/shinylive/webr/vfs/usr/lib/R/library/grDevices/html.js.metadata
docs/APP_T1/shinylive/webr/vfs/usr/lib/R/library/grDevices/libs.data.gz
docs/APP_T1/shinylive/webr/vfs/usr/lib/R/library/grDevices/libs.js.metadata
docs/APP_T1/shinylive/webr/vfs/usr/lib/R/library/grDevices/tests.data.gz
docs/APP_T1/shinylive/webr/vfs/usr/lib/R/library/grDevices/tests.js.metadata
docs/APP_T1/shinylive/webr/vfs/usr/lib/R/library/graphics/demo.data.gz
docs/APP_T1/shinylive/webr/vfs/usr/lib/R/library/graphics/demo.js.metadata
docs/APP_T1/shinylive/webr/vfs/usr/lib/R/library/graphics/help.data.gz
docs/APP_T1/shinylive/webr/vfs/usr/lib/R/library/graphics/help.js.metadata
docs/APP_T1/shinylive/webr/vfs/usr/lib/R/library/graphics/html.data.gz
docs/APP_T1/shinylive/webr/vfs/usr/lib/R/library/graphics/html.js.metadata
docs/APP_T1/shinylive/webr/vfs/usr/lib/R/library/grid/doc.data.gz
docs/APP_T1/shinylive/webr/vfs/usr/lib/R/library/grid/doc.js.metadata
docs/APP_T1/shinylive/webr/vfs/usr/lib/R/library/grid/help.data.gz
docs/APP_T1/shinylive/webr/vfs/usr/lib/R/library/grid/help.js.metadata
docs/APP_T1/shinylive/webr/vfs/usr/lib/R/library/grid/html.data.gz
docs/APP_T1/shinylive/webr/vfs/usr/lib/R/library/grid/html.js.metadata
docs/APP_T1/shinylive/webr/vfs/usr/lib/R/library/grid/tests.data.gz
docs/APP_T1/shinylive/webr/vfs/usr/lib/R/library/grid/tests.js.metadata
docs/APP_T1/shinylive/webr/vfs/usr/lib/R/library/methods/help.data.gz
docs/APP_T1/shinylive/webr/vfs/usr/lib/R/library/methods/help.js.metadata
docs/APP_T1/shinylive/webr/vfs/usr/lib/R/library/methods/html.data.gz
docs/APP_T1/shinylive/webr/vfs/usr/lib/R/library/methods/html.js.metadata
docs/APP_T1/shinylive/webr/vfs/usr/lib/R/library/methods/tests.data.gz
docs/APP_T1/shinylive/webr/vfs/usr/lib/R/library/methods/tests.js.metadata
docs/APP_T1/shinylive/webr/vfs/usr/lib/R/library/splines/help.data.gz
docs/APP_T1/shinylive/webr/vfs/usr/lib/R/library/splines/help.js.metadata
docs/APP_T1/shinylive/webr/vfs/usr/lib/R/library/splines/html.data.gz
docs/APP_T1/shinylive/webr/vfs/usr/lib/R/library/splines/html.js.metadata
docs/APP_T1/shinylive/webr/vfs/usr/lib/R/library/splines/tests.data.gz
docs/APP_T1/shinylive/webr/vfs/usr/lib/R/library/splines/tests.js.metadata
docs/APP_T1/shinylive/webr/vfs/usr/lib/R/library/stats/demo.data.gz
docs/APP_T1/shinylive/webr/vfs/usr/lib/R/library/stats/demo.js.metadata
docs/APP_T1/shinylive/webr/vfs/usr/lib/R/library/stats/help.data.gz
docs/APP_T1/shinylive/webr/vfs/usr/lib/R/library/stats/help.js.metadata
docs/APP_T1/shinylive/webr/vfs/usr/lib/R/library/stats/html.data.gz
docs/APP_T1/shinylive/webr/vfs/usr/lib/R/library/stats/html.js.metadata
docs/APP_T1/shinylive/webr/vfs/usr/lib/R/library/stats/tests.data.gz
docs/APP_T1/shinylive/webr/vfs/usr/lib/R/library/stats/tests.js.metadata
docs/APP_T1/shinylive/webr/vfs/usr/lib/R/library/stats4/help.data.gz
docs/APP_T1/shinylive/webr/vfs/usr/lib/R/library/stats4/help.js.metadata
docs/APP_T1/shinylive/webr/vfs/usr/lib/R/library/stats4/html.data.gz
docs/APP_T1/shinylive/webr/vfs/usr/lib/R/library/stats4/html.js.metadata
docs/APP_T1/shinylive/webr/vfs/usr/lib/R/library/stats4/tests.data.gz
docs/APP_T1/shinylive/webr/vfs/usr/lib/R/library/stats4/tests.js.metadata
docs/APP_T1/shinylive/webr/vfs/usr/lib/R/library/tools/help.data.gz
docs/APP_T1/shinylive/webr/vfs/usr/lib/R/library/tools/help.js.metadata
docs/APP_T1/shinylive/webr/vfs/usr/lib/R/library/tools/html.data.gz
docs/APP_T1/shinylive/webr/vfs/usr/lib/R/library/tools/html.js.metadata
docs/APP_T1/shinylive/webr/vfs/usr/lib/R/library/tools/tests.data.gz
docs/APP_T1/shinylive/webr/vfs/usr/lib/R/library/tools/tests.js.metadata
docs/APP_T1/shinylive/webr/vfs/usr/lib/R/library/translations/DESCRIPTION
docs/APP_T1/shinylive/webr/vfs/usr/lib/R/library/utils/doc.data.gz
docs/APP_T1/shinylive/webr/vfs/usr/lib/R/library/utils/doc.js.metadata
docs/APP_T1/shinylive/webr/vfs/usr/lib/R/library/utils/help.data.gz
docs/APP_T1/shinylive/webr/vfs/usr/lib/R/library/utils/help.js.metadata
docs/APP_T1/shinylive/webr/vfs/usr/lib/R/library/utils/html.data.gz
docs/APP_T1/shinylive/webr/vfs/usr/lib/R/library/utils/html.js.metadata
docs/APP_T1/shinylive/webr/vfs/usr/lib/R/library/utils/misc.data.gz
docs/APP_T1/shinylive/webr/vfs/usr/lib/R/library/utils/misc.js.metadata
docs/APP_T1/shinylive/webr/vfs/usr/lib/R/library/utils/tests.data.gz
docs/APP_T1/shinylive/webr/vfs/usr/lib/R/library/utils/tests.js.metadata
docs/APP_T1/shinylive/webr/vfs/usr/lib/R/library/webr/help.data.gz
docs/APP_T1/shinylive/webr/vfs/usr/lib/R/library/webr/help.js.metadata
docs/APP_T1/shinylive/webr/vfs/usr/lib/R/library/webr/html.data.gz
docs/APP_T1/shinylive/webr/vfs/usr/lib/R/library/webr/html.js.metadata
docs/APP_T1/shinylive/webr/vfs/usr/share/gdal.data.gz
docs/APP_T1/shinylive/webr/vfs/usr/share/gdal.js.metadata
docs/APP_T1/shinylive/webr/vfs/usr/share/proj.data.gz
docs/APP_T1/shinylive/webr/vfs/usr/share/proj.js.metadata
docs/APP_T1/shinylive/webr/vfs/usr/share/udunits.data.gz
docs/APP_T1/shinylive/webr/vfs/usr/share/udunits.js.metadata
docs/APP_T1/shinylive/webr/vfs/usr/share/fonts/NotoSans-Bold.ttf
docs/APP_T1/shinylive/webr/vfs/usr/share/fonts/NotoSans-BoldItalic.ttf
docs/APP_T1/shinylive/webr/vfs/usr/share/fonts/NotoSans-Italic.ttf
docs/APP_T1/shinylive/webr/vfs/usr/share/fonts/NotoSans-Regular.ttf
docs/APP_T1/shinylive/webr/vfs/usr/share/fonts/NotoSansMono-Bold.ttf
docs/APP_T1/shinylive/webr/vfs/usr/share/fonts/NotoSansMono-Regular.ttf
docs/APP_T1/shinylive/webr/vfs/usr/share/fonts/NotoSerif-Bold.ttf
docs/APP_T1/shinylive/webr/vfs/usr/share/fonts/NotoSerif-BoldItalic.ttf
docs/APP_T1/shinylive/webr/vfs/usr/share/fonts/NotoSerif-Italic.ttf
docs/APP_T1/shinylive/webr/vfs/usr/share/fonts/NotoSerif-Regular.ttf
docs/APP_T1/shinylive/webr/vfs/var/cache/fontconfig/3830d5c3ddfd5cd38a049b759396e72e-le32d8.cache-7
docs/APP_T1/shinylive/webr/vfs/var/cache/fontconfig/CACHEDIR.TAG
docs/APP_T1/shinylive/webr/webR/compat.d.ts
docs/APP_T1/shinylive/webr/webR/config.d.ts
docs/APP_T1/shinylive/webr/webR/console.d.ts
docs/APP_T1/shinylive/webr/webR/emscripten.d.ts
docs/APP_T1/shinylive/webr/webR/error.d.ts
docs/APP_T1/shinylive/webr/webR/mount.d.ts
docs/APP_T1/shinylive/webr/webR/payload.d.ts
docs/APP_T1/shinylive/webr/webR/proxy.d.ts
docs/APP_T1/shinylive/webr/webR/robj-main.d.ts
docs/APP_T1/shinylive/webr/webR/robj-worker.d.ts
docs/APP_T1/shinylive/webr/webR/robj.d.ts
docs/APP_T1/shinylive/webr/webR/utils-r.d.ts
docs/APP_T1/shinylive/webr/webR/utils.d.ts
docs/APP_T1/shinylive/webr/webR/webr-chan.d.ts
docs/APP_T1/shinylive/webr/webR/webr-main.d.ts
docs/APP_T1/shinylive/webr/webR/webr-worker.d.ts
docs/APP_T1/shinylive/webr/webR/chan/channel-common.d.ts
docs/APP_T1/shinylive/webr/webR/chan/channel-postmessage.d.ts
docs/APP_T1/shinylive/webr/webR/chan/channel-service.d.ts
docs/APP_T1/shinylive/webr/webR/chan/channel-shared.d.ts
docs/APP_T1/shinylive/webr/webR/chan/channel.d.ts
docs/APP_T1/shinylive/webr/webR/chan/message.d.ts
docs/APP_T1/shinylive/webr/webR/chan/queue.d.ts
docs/APP_T1/shinylive/webr/webR/chan/serviceworker.d.ts
docs/APP_T1/shinylive/webr/webR/chan/task-common.d.ts
docs/APP_T1/shinylive/webr/webR/chan/task-main.d.ts
docs/APP_T1/shinylive/webr/webR/chan/task-worker.d.ts
libs/shiny/R/shiny_bookmarks/*
